<header id="topnav" >
    <div class="topbar-main">
        
        <div class="container-fluid">
            <div class="logo">
                <a href="@Url.Home()" class="logo">
                    <span class="logo-small"><i class="fas fa-tasks"></i> Quizbee</span>
                    <span class="logo-large"><i class="fas fa-tasks"></i> Quizbee</span>
                </a>
            </div>
            @if (!CustomHelper.isMockUser(User))
            {
                <div class="navbar-custom">
                    <div id="navigation">
                        <ul class="navigation-menu">
                            <li>
                                <a href="@Url.Home()">
                                    <span><i class="fas fa-home"></i></span>&nbsp;<span>Home</span>
                                </a>
                            </li>
                            <li class="has-submenu">
                                <a href="@Url.QuizzesList()">
                                    <span><i class="fas fa-clipboard-list"></i></span>&nbsp;<span>Quizzes</span>
                                </a>
                                <ul class="submenu">
                                    <li>
                                        <a href="@Url.NewQuiz()">
                                            <i class="fa fa-plus"></i>&nbsp;&nbsp;Create New Quiz
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a href="@Url.MyResults()">
                                        <span><i class="fas fa-clipboard-check"></i></span>&nbsp;<span>My Results</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="menu-extras topbar-custom">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">
                        <li class="menu-item">
                            <a class="navbar-toggle nav-link">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </li>

                        @Html.Partial("_UserMenu")
                    </ul>
                </div>
            }
            <div class="clearfix"></div>

        </div>
        
        </div>
</header>

<form method="post" action="@Url.Logout()" id="logOutForm" style="display:none">
	@Html.AntiForgeryToken()
</form>

<script>
	$(document).ready(function () {
		$("#logout").click(function () {
			$("#logOutForm").submit();
		});
	});
</script>